@{
    ViewBag.Title = "Devices";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div id="left">
    <div style="height: 80px"></div>
    <div style="height: 200px; padding: 20px;">
        <label>Username: John</label>
        <label>Device: Samsung Galaxy S3</label>
    </div>
    <div class="subnav">
        <ul class="subnav-menu">
            <li>
                <a href="#">Send Message</a>
            </li>
            <div style="height: 20px"></div>
            <li>
                <a href="#">Lock Device</a>
            </li>
            <div style="height: 20px"></div>
            <li>
                <a href="#">Device Wipe</a>
            </li>
            <div style="height: 20px"></div>
            <li>
                <a href="#">Find Device</a>
            </li>
            <div style="height: 20px"></div>
            <li>
                <a href="#">Track Device</a>
            </li>
        </ul>
    </div>
</div>
<div id="main">
    <div class="container-fluid">
        <div class="page-header">
            <div>

                <div class="widget">
                    <h3 class="section-title first-title"><i class="icon-table"></i>Send message</h3>
                    <div class="widget-content-white glossed">
                        <div class="padded">
                            <form action="">
                                <label>
                                    <h5>Message</h5>
                                </label>
                                <textarea style="width: 60%;" rows="5"></textarea>
                                <div class="submit">
                                    <input type="submit" value="Send" class="btn btn-primary">
                                </div>
                                <div>&nbsp;</div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>